body {
    background: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header {
    background-color: #4e0a47bd;
    color: #fff;
}

#logo {
    padding: 10px 0  10px 50px;
    text-transform: uppercase;
    font-style: italic;
    color: #ee90e5bd;
    font-size: 20px
} 

#navUl {
        text-align: right;
}

#navbar {
    background-color: #333;
    color: #fff;
    display:flex; 
    /* align-item: right-end; */
}

#navbar ul {
    padding: 0;
    list-style: none;
}

#navbar li {
    display: inline
}

#navbar a {
    color: #ee90e5bd;
    text-decoration: none;
    margin: 30px;
    font-size: 18px;
    /* display:flex; */
    /* align-item: right-end; */
}

#navbar a:hover{
    color: #ee90e5ff;
    text-decoration: underline;
    transition: 4s

}

#showcase {
    background-image: url("./sea.avif");
    background-position: center left;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: left;
    /* opacity:  */
    
    background-repeat: no-repeat;
    background-size:cover
}

#showcase p {
    color: #000000ff;
    font-size: 30px;
    line-height: 1.6em;
    padding-top: 30px;
}

#main {
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;    
}

#sidebar {
    float: right;
    width: 30%;
    padding: 0 30px;
    box-sizing: border-box;  
    border: 3px dashed #000;
    border-radius: 5px; 
}

#main-footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}

@media(max-width:600px) {
    #main {
        width: 100%;
        float:none;
    }

   #sidebar {
         width: 100%;
        float:none;
   }
}